.fluxbox/lastwallpaper
.fluxbox/fbrun_history
.vim/spell/
.fluxbox/init
.fluxbox/menu
.netrwhist
*.sw[op]
.vim/.VimballRecord
.vim/doc/tags
*.o
.vim/ruby/command-t/Makefile
.vim/ruby/command-t/ext.so
.vim/ruby/command-t/mkmf.log

