[submodule "dot.vim/bundle/vim-fugitive"]
	path = dot.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dot.vim/bundle/vim-airline"]
	path = dot.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dot.vim/bundle/supertab"]
	path = dot.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dot.vim/bundle/ctrlp.vim"]
	path = dot.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dot.vim/bundle/syntastic"]
	path = dot.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dot.vim/bundle/jedi-vim"]
	path = dot.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
