[submodule "dot.vim/bundle/ctrlp"]
	path = dot.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "dot.vim/bundle/jedi"]
	path = dot.vim/bundle/jedi
	url = https://github.com/davidhalter/jedi
[submodule "dot.vim/bundle/supertab"]
	path = dot.vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "dot.vim/bundle/vim-airline"]
	path = dot.vim/bundle/vim-airline
	url = http://github.com/bling/vim-airline
[submodule "dot.vim/bundle/javacomplete"]
	path = dot.vim/bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "dot.vim/bundle/ctrlp.vim"]
	path = dot.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dot.vim/bundle/vim-fugitive"]
	path = dot.vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
